@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

main {
   background-color: rgb(54, 27, 82);
   color: ivory;
   width: 500px;
   height: 600px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 5px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4), 
   20px 20px 30px rgba(0, 0, 0, 0.2);
}

/* .pwd-gen-input div * {
    display: block;
    margin: 15px 0;
} */

.pwd-gen-input {
    padding: 20px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input#contains-uppercase, input#contains-special-char, input#contains-numeral {
    height: 30px;
    width: 30px;
}

input#submit {
    margin-top: auto;
    height: 80px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

input#pwd-length {
    width: 100%;
    height: 35px;
}

.pwd-gen-input {
    /* background-color: rgba(46, 139, 86, 0.548); */
    height: 70%;
    width: 95%;
}

.pwd-header {
    height: 10%;
    width: 95%;
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90%;
    font-size: 1.1rem;
    background-color: rebeccapurple;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-btn {
    width: 8%;
    height: 100%;
}

.logo h1 {
    margin: 0;
    padding: 0;
}

.pwd-gen-input span {
    font-weight: normal;
    font-size: 1.5rem;
    color: black;
}