@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mobile-container {
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    width: 400px;
    box-shadow: 0 0 10px 2px #1616161a;
    border-radius: 4px;
    overflow: hidden;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header input {
    background-color: #30336b52;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    color: #30336b;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: #30336bf6;
    padding-top: 0.1rem;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.fav-container h3 {
    margin: 8px;
    color: ivory;
}

.fav-meals {
    background-color: #b6b3c1;
    height: 140px;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}

.fav-meals div {
    padding: 0.7rem;
    width: 100px;
    height: 120px;
    min-width: 100px;
    min-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fav-meals img {
    border-radius: 50%;
    border: 3px solid ivory;
    box-shadow: 0 0 10px 2px #1818181a;
}

.fav-meals li {
    display: flex;
    flex-flow: row;
}

.fav-meals li img {
    width: 100%;
}

.fav-meals li img {
    align-items: center;
    border: 2px solid #2c3e50;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    height: 80px;
    width: 80px;
}

.fav-meals span {
    font-weight: 0.8px;
}

.meal {
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    font-family: inherit;
    color: #313362;
    font-weight: 5px;
    position: absolute;
    background-color: #f6b83be7;
    top: 1rem; 
    padding: 0.25rem 0.5rem;
    border-bottom-right-radius: 3px;
}

.meal-header img {
     height: 250px;
     width: 100%;
     object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #30336bf6;
}

.meal-body h4 {
    margin: 0;
    color: ivory;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: ivory;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: tomato;
}