@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #171a1b;
    padding: 0;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

nav h1,h2 {
    color: ivory;
    padding-left: 2rem;
}

nav h1,h2:hover {
    cursor: pointer;
}

nav h1 {
    font-size: 2.5rem;
}

nav h2 {
    font-size: 1.3rem;
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#d98324));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Main Section */

main {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    overflow: hidden;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    width: 85%;
    height: 80%;
    max-width: 650px;
    max-height: 650px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-areas:
        "card1 card2 card2 card3"
        "card4 card5 card6 card7"
        "card8 card9 card9 card10";
}

.card {
    background-color: rgba(255, 255, 255);
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

/* Main Responsive */

@media screen and (max-width: 650px) {
    .cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
    }

    .card {
        width: 100%;
        height: 90%;
    }
}

/* Cards hover animations */

.card:hover {
    cursor: pointer;
}

/* Corner cards */

@media screen and (min-width: 650px) { 
    .card-active {
        z-index:2;
    }
    
    .card-active:nth-child(1) {
        margin-right: calc(-295%);
        margin-bottom: calc(-175%);
    }
    
    .card-active:nth-child(3) {
        margin-left: calc(-295%);
        margin-bottom: calc(-175%);
    }
    
    .card-active:nth-child(8) {
        margin-right: calc(-295%);
        margin-top: calc(-175%);
    }
    
    .card-active:nth-child(10) {
        margin-left: calc(-295%);
        margin-top: calc(-175%);
    }
    
    /* Middle Edge Cards */
    
    .card-active:nth-child(2) {
        margin-right: calc(-45% - 10px);
        margin-left: calc(-45% - 10px);
        margin-bottom: calc(-100% + 40px);
    }
    
    .card-active:nth-child(9) {
        margin-right: calc(-45% - 10px);
        margin-left: calc(-45% - 10px);
        margin-top: calc(-100% + 40px);
    }
    
    .card-active:nth-child(4) {
        margin-right: calc(-295%);
        margin-top: calc(-100% + 20px);
        margin-bottom: calc(-100% + 20px);
    }
    
    .card-active:nth-child(7) {
        margin-left: calc(-295%);
        margin-top: calc(-100% + 20px);
        margin-bottom: calc(-100% + 20px);
    }
    
    /* Middle cards */
    
    .card-active:nth-child(5) {
        margin-right: calc(-200% + 5px);
        margin-left: calc(-100% + 5px);
        margin-bottom: calc(-100% + 20px);
        margin-top: calc(-100% + 20px);
    }
    
    .card-active:nth-child(6) {
        margin-left: calc(-200% + 5px);
        margin-right: calc(-100% + 5px);
        margin-bottom: calc(-100% + 20px);
        margin-top: calc(-100% + 20px);
    }
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

#card4 {
    grid-area: card4;
}

#card5 {
    grid-area: card5;
}

#card6 {
    grid-area: card6;
}

#card7 {
    grid-area: card7;
}

#card8 {
    grid-area: card8;
}

#card9 {
    grid-area: card9;
}

#card10 {
    grid-area: card10;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}