@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #171a1b;
    padding: 0;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

nav h1,h2 {
    color: ivory;
    padding-left: 2rem;
}

nav a {
    color: ivory;
}

nav h1,h2:hover {
    cursor: pointer;
}

nav h1 {
    font-size: 2.5rem;
}

nav h2 {
    font-size: 1.3rem;
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#d98324));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Main Section */

main {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    overflow: hidden;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    width: 85%;
    height: 80%;
    max-width: 650px;
    max-height: 650px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-areas:
        "card1 card2 card2 card3"
        "card4 card5 card6 card7"
        "card8 card9 card9 card10";
}

.card {
    background-color: rgba(255, 255, 255);
    margin: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: .3s;
    font-weight: bold;
    background-size: cover;
    padding-top: 5px;
    position: relative;
    overflow: hidden;
}

/* Main Responsive */

@media screen and (max-width: 650px) {
    main {
        height: 90vh;
    }

    .cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
    }

    .card {
        width: 100%;
        height: 90%;
    }
}

/* Cards hover animations */

.card:hover {
    cursor: pointer;
}

/* Corner cards */

@media screen and (min-width: 650px) {
    .card-active {
        z-index:2;
    }
    
    .card-active:nth-child(1) {
        margin-right: calc(-265%);
        margin-bottom: calc(-162%);
    }
    
    .card-active:nth-child(3) {
        margin-left: calc(-315%);
        margin-bottom: calc(-185%);
    }
    
    .card-active:nth-child(8) {
        margin-right: calc(-283%);
        margin-top: calc(-169%);
    }
    
    .card-active:nth-child(10) {
        margin-left: calc(-315%);
        margin-top: calc(-185%);
    }
    
    /* Middle Edge Cards */
    
    .card-active:nth-child(2) {
        margin-right: calc(-46%);
        margin-left: calc(-53%);
        margin-bottom: calc(-90%);
    }
    
    .card-active:nth-child(9) {
        margin-right: calc(-46%);
        margin-left: calc(-53%);
        margin-top: calc(-90%);
    }
    
    .card-active:nth-child(4) {
        margin-right: calc(-265%);
        margin-top: calc(-80%);
        margin-bottom: calc(-80%);
    }
    
    .card-active:nth-child(7) {
        margin-left: calc(-315%);
        margin-top: calc(-90%);
        margin-bottom: calc(-90%);
    }
    
    /* Middle cards */
    
    .card-active:nth-child(5) {
        margin-right: calc(-203%);
        margin-left: calc(-108%);
        margin-bottom: calc(-90%);
        margin-top: calc(-90%);
    }
    
    .card-active:nth-child(6) {
        margin-left: calc(-208%);
        margin-right: calc(-100% + 5px);
        margin-bottom: calc(-100% + 20px);
        margin-top: calc(-100% + 20px);
    }
}

@media screen and (min-width: 650px) {
    .card h1 {
        border: 0;
        padding: 0;
        font-size: 1rem;
    }

    #card2 h1 {
        font-size: 1rem;
    }
}

#card1 {
    color: ivory;
    grid-area: card1;
    background-image: url("https://images.unsplash.com/photo-1528139494595-a848e52c6335?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
}

#card2 {
    grid-area: card2;
    background-image: url("https://images.unsplash.com/photo-1518384401463-d3876163c195?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8cXVlc3Rpb258ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card3 {
    grid-area: card3;
    color: ivory;
    background-image: url("https://images.unsplash.com/photo-1592187270831-4196d903d031?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGZvb2R8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card4 {
    color: ivory;
    grid-area: card4;
    background-image: url("https://images.unsplash.com/photo-1544830281-1d5169d6b2af?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fG5vdGVzfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card5 {
    grid-area: card5;
    background-image: url("https://images.unsplash.com/photo-1560483580-3eab978d71a8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8cGVufGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card6 {
    grid-area: card6;
    color: ivory;
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

#card7 {
    grid-area: card7;
    color: ivory;
    background-image: url("https://images.unsplash.com/photo-1566241440091-ec10de8db2e1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Z2l0aHVifGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card8 {
    grid-area: card8;
    background-image: url("https://images.unsplash.com/photo-1602738328654-51ab2ae6c4ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8ZHJhd2luZ3xlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card9 {
    grid-area: card9;
    color: ivory;
    background-image: url("https://images.unsplash.com/photo-1477039181047-efb4357d01bd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cGFzc3dvcmR8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

#card10 {
    grid-area: card10;
    color: ivory;
    background-image: url("https://images.unsplash.com/photo-1562155618-e1a8bc2eb04f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fHdlYXRoZXJ8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.card-info {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 235, 205, 0.87);
    width: 100%;
    height: 80%;
    padding: 1.5rem;
    color: black;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
    overflow: auto;
}

.card-active .card-info {
    transform: translateY(0);
}

.card-info button {
    color: ivory;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #a40606;
    background: -webkit-gradient(linear, left top, right bottom, from(#d98324), to(#a40606));
    padding: 15px 0;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
    font-size: 15px;
    transition: transform 0.5s;
}

.card-info button:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right bottom, from(#a40606), to(#d98324));
}

#disabled {
    background: -webkit-gradient(linear, left top, right bottom, from(#646464), to(#f5f5f4));
}

.card-info span {
    font-weight: lighter;
    padding: 1rem;
}

.card-info ol {
    padding: 0 2rem;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 10px;
    color: ivory;
    opacity: 0.8;
}

footer a:link,a {
    color: ivory;
    text-decoration: none;
}

footer:hover {
    opacity: 1;
}

.blink {
    animation: blinker 2s linear infinite;
    color: ivory;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}