@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.notes {
    width: 400px;
    height: 500px;
    background-color: ivory;
    margin: 20px;
    border-radius: 5px;
    overflow: visible;
    display: relative;
}

.notes .tools {
    background-color: #EAB543;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.notes .tools button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.notes .tools button:hover {
    cursor: pointer;
    color: ivory;
}

.notes .main {
    background-color: #fff;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.min-padding {
    padding: 0;
    margin: 0;
}

.notes textarea {
    font-size: 1.2rem;
    /* outline: none; */
    width: 100%;
    height: 410px;
    font-family: inherit;
    /* border: none; */
    border: red;
    outline: red;
    padding: 1rem 1.5rem;
}

.notes textarea::placeholder {
    font-size: 1.5rem;
    opacity: 0.8;
    padding: 1rem 1rem;
    color: black;
}

.hidden {
    display: none;
}

#notes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note-banner {
    margin: 0.5rem 0;
    width: 100%;
    height: 5rem;
    background-color: #fad39098;
    border-radius: 5px;
    position: relative;
}

.note-banner:hover {
    cursor: pointer;
    background-color: #1d385586;
}

.note-banner .note-banner-header {
    color: black;
    position: absolute;
    padding-left: 15px;
    bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.textarea-display,textarea {
    padding-left: 1.5rem;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}