@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(./img/bg.jpg);
}

.quiz-container {
    background-color: whitesmoke;
    margin: auto;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quiz-container-inner {
    padding: 2rem;
    
}

h2 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

ul li {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 1rem 0;
    vertical-align: center;
    display: flex;
    align-items: center;
}

ul:hover li:hover label:hover {
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.material-icons {
    padding: 0rem 0.4rem;
    font-style: italic;
}

button {
    width: 100%;
    display: block;
    padding: 1.3rem;
    border: none;
    color: #027bc8;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
}

button:focus {
    outline: none;
}

button:hover {
    background: #027cc893;
    cursor: pointer;
    color: ivory;
    border: 1px solid rgba(255, 255, 255, 0.685);
}

/* Glass Stylings */

.glass-input {
    background: rgba(255, 255, 255, 0.788);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.40 );
    font-size: 1rem;
    max-width: 50%;
    margin-left: 1rem;
}

.glass {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.40 );
}

.glass-submit-btn {
    background-color: rgba(255, 255, 240, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-gen-quiz-submit-btn {
    background-color: rgba(0, 0, 0, 0.80);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: ivory;
}

.glass-next-btn {
    background: #16a08488;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: ivory;
}

/* Footer Styling */

footer {
    position: fixed;
    top: 5px;
    right: 10px;
    opacity: 0.8;
}

footer a:link,a {
    color: ivory;
    text-decoration: none;
}

footer:hover {
    opacity: 1;
}

.blink {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Quiz selection menu Styling */

.form-control {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    flex-wrap: wrap;
}

.form-control label {
    font-size: 1.5rem;
    font-weight: bolder;
    color: ivory;
}

.hide {
    display: none;
}