@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    background-color: ivory;
    border: 2px solid black;
    width: 500;
    height: 500;
}